In [7]:
a= int(input("amounnt t1 "))
       
if a==20 :
    
       
    print("ok")

amounnt t1 20
ok

In [8]:
a==20

True

In [13]:
#both conditions passed
a=10
if a>2:
    print("ok")
    if a>5 :
        print("fine")

ok
fine

In [18]:
#identation change 1
a=10
if a>10 :
    print("FINE")
if a >5 :
    print("GOOD")

GOOD

In [ ]:
#identation change 2
a=10
if a>10 :
    print("FINE")
    if a >5 :
        print("GOOD")

In [ ]:
a = int(input())
count = 1
while a < 100:
    print("oooo")
    count = count + 1
    if count == 5:
        break

In [ ]:

count = 1
a = int(input())  # Takes an integer input from the user
while a < 100:
    print("oooo")
    count = count + 1
    if count == 5:
        print("my fifth")

In [3]:
notes= 5
i=1
while i < notes :
    print(i)
    i+=1
    
else:
    print("no")

1
2
3
4
no

In [2]:
notes = 5
i = 1
while i < notes:
    print(i)
    i += 1
else:
    print("no")

1
2
3
4
no

In [5]:
notes =5
i= 1
j=1
while i < notes :
        print(i)
        i = i+1
        
else :
    
    while j < 2 :
        print(i)
        j=j+1
        print("no10rs available")

1
2
3
4
5
no10rs available

In [6]:
s="sudh"

In [7]:
s[0]

's'

In [8]:
s[3]

'h'

In [2]:
s="my name is akshay"

In [3]:
s[3:10]

'name is'

In [4]:
s[3:10:2]

'nm s'

In [5]:
s[4:1:-1]

'an '

In [6]:
S[::-1]

NameError: name 'S' is not defined

In [7]:
s[::-1]

'yahska si eman ym'

In [13]:
s[6:-5]

'e is a'

In [9]:
s[3:-2]

'name is aksh'

In [22]:
s[3:-1]

'y'

In [16]:
 for j in s:
        print(j)

m
y

n
a
m
e

i
s

a
k
s
h
a
y

In [19]:
for i in s:
    
    if i=="s":
        print("got s")
    print(i)

m
y

n
a
m
e

i
got s
s

a
k
got s
s
h
a
y

In [27]:
for i  in s :
    print (i)
#else works when for loop exaust
else :
    if i=="y" :
        print("ok")
    print("game over")

m
y

n
a
m
e

i
s

a
k
s
h
a
y
ok
game over

In [29]:
for i  in s :
    if i== "s":
        break
    print (i)
#else works when for loop exaust
else :
    if i=="y" :
        print("ok") # it works for last character onl;y
    print("game over")

m
y

n
a
m
e

i

In [14]:
s = "lalyt"

In [17]:
for i  in s :
    
    if i== "s":
    
        break
        print (i)# this will work only when above relatred condition will pass
#else works when for loop exaust
else :
    
    if i=="y" :
        
        print("ok") # it works for last character onl;y
        
    print("game over")

game over

In [21]:
for i  in s :
    
    if i== "s":
    
        break
    print (i)# this will work only when above relatred condition will pass
#else works when for loop exaust
else :
    
    if i=="t" :
        
        print("ok") # it works for last character onl;y
        
    print("game over")

l
a
l
y
t
ok
game over

In [27]:
s= "ineuron"
ss= ""
for i in range(len(s)):
    if s[i]=="n" :
        continue
    else:
        ss= ss+s[i]

In [28]:
ss

'ieuro'

In [29]:
s= "ineuron"
ss= ""
for i in range(len(s)):
    if s[i]=="n" :
        break
    else:
        ss= ss+s[i]

In [30]:
ss

'i'

In [45]:
n = 7
for i in range(0,n) :
    for j in range(0,i+1) :
        print("+ ",end="")
    print()

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [42]:
range(0,9)

range(0, 9)

In [46]:
n = 7
for i in range(0,n) :
    for j in range(0,i+1) :
        print("+ ",end="")
    print("\n")

+

+ +

+ + +

+ + + +

+ + + + +

+ + + + + +

+ + + + + + +

In [52]:
n = 7
for i in range(0,n) :
    for j in range(0,i+1) :
        print("+ ",end="")
    print("\r") #not better way7

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [51]:
n= int(input("enter the no."))

for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    
    for j in range(2*i-1):
        print("*",end="")
    print()

enter the no.7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [30]:
n=5
m=2+n-2
for i in range (n,-1,-1):
    for j in range(m,0,-1):
        print(end= " ")
    m = m+1
    for j in range(0,i+1):
        print("*",end = " ")
    print()

     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [3]:
for i   in range(3):
    
    print(i,end=" "
         )

0 1 2

In [23]:
#good way
n =7
for  i in range(n,0,-1) :
    
        
    for j in range(7-i):       #sapce counting (0,1,2,3,4,5,6,7) accounting to range of rows
    #for j in range(n-i) :   
        print(" ",end=" ")
    
    for j in range(2*i-1) :
        print("*", end=" ")
    
    
    
    
    print()

* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [24]:
for  i  in range(6):
    
    print("*",end="")

******

In [25]:
for i in range(6):
    for j in range(6-i):
        print(" ",end="")
    print(i)
    print()

      0

     1

    2

   3

  4

 5

In [26]:
n= 5
m= 2*n-2
for i in range(n,-1,-1): #kyuki n= 5 h toh 6line bnane k liye chahiye.
    
    for j in range(m,0,-1):  # ye sab inner loop ka matlab i= 5,4,3,2,1,0 k andar ghatna hogi. yha i nahi liya na isliya apne app space nahi badega range 8 hi rahega
        print(end= " ")
    m=m+1  #space badane lioye  kiya
    for j in range (i+1):
        print("*",end=" ")
    print()

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [27]:
print

In [39]:
n=9
i=0
while i < n :
    print( ' '*(n-i) + "* " *(i+1)) #n-i se ginti nahi aati balki no. of times repeatatin noiklta h jese n-i neg m aaye toh bhi print hopga
    i+=1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [43]:
i =1
k=1
while i <=5:
    b=1
    while b <=5-i:
        print(' ',end="")
        b=b+1
    
    
    j=1
    while j <=k :
        print('*',end="")
        j=j+1
    print()
    
    
    k=k+2
    i=i+1

    *
   ***
  *****
 *******
*********

In [46]:
i =1
k=1
while i <=5:
    b=1
    while b <=5-i:
        print(' ',end="")
        b=b+1
    
    
    j=1
    while j < k :
        print('*',end="")
        j=j+1
    print()
    
    
    k=k+2
    i=i+1

   **
  ****
 ******
********

In [54]:
u=int(input("enter no. of rows"))

r= 0
while (r <u ) :
    
    r+=1
    s = u-r
    
    sc= 0
    while ( sc<s ):
        print(" ",end ='')
        sc+=1
        
        
    ns = 2*r-1
    while (ns >0) :
        print("*",end="")
        ns-=1
        
    print()

enter no. of rows7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [60]:
n=7
r= 0
while (r <u ) :
    
    r+=1
    s = u-r
    
    sc= 0
    while ( sc<s ):
        print(" ",end ='')
        sc+=1
        
        
    ns = 2*r-1
    while (ns >0) :
        print("*",end="")
        ns-=1
        
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [61]:
list

list

In [62]:
l= ["a",12,"wer"]

In [63]:
l

['a', 12, 'wer']

In [64]:
l[2]

'wer'

In [68]:
type(l[1])

int

In [70]:
a1=list()

In [71]:
type(a1)

list