In [98]:
l=()
type(l)

tuple

In [99]:
l=("a","b","c")
k=["a","b","c"]

In [100]:
l[0]

'a'

In [101]:
k[0]

'a'

In [102]:
type(l)

tuple

In [103]:
type(k)

list

In [104]:
l[0:2]

('a', 'b')

In [105]:
#tuple is  notmutable
l[0]="sachin"

TypeError: 'tuple' object does not support item assignment

In [106]:
#list is mutable
k[0]="sachin"

In [107]:
k

['sachin', 'b', 'c']

In [108]:
l

('a', 'b', 'c')

In [109]:
m=("ad","ef","gh")

In [110]:
type(m)

tuple

In [111]:
# but appending is possible in tuple
m +l

('ad', 'ef', 'gh', 'a', 'b', 'c')

In [112]:
l*2

('a', 'b', 'c', 'a', 'b', 'c')

In [113]:
"a" in l

True

In [114]:
n=(2,6,8)

In [115]:
max(n)

8

In [116]:
#only two features in tuples count and index
n.index(8)

2

In [117]:
m

('ad', 'ef', 'gh')

In [118]:
m.insert(2,"raja")

AttributeError: 'tuple' object has no attribute 'insert'

In [119]:
#pehle tuple ko hi list bnake inserr
o=list(m)

In [155]:
o

('ad', 'ef', 'manmohan', 'gh')

In [156]:
o.insert(2,"manmohan")

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
o

In [ ]:
#phir wpaas tuple bna lo
o=tuple(o)

In [ ]:
o

In [157]:
t=((3,4,5,6,7),("adv",24,34),("453",54),1,2,3,[4,5,6,7])

In [158]:
t[6]

[4, 5, 6, 7]

In [159]:
t[2][0]

'453'

In [160]:
o

('ad', 'ef', 'manmohan', 'gh')

In [161]:
del(o1)

NameError: name 'o1' is not defined

In [ ]:
#pop and remove for lis.
#del for tuples

In [162]:
l=[2,3,4,5,"sudh","Sudh","lalit","lalit"]

In [163]:
#set remove exact duplicates only.
l=set(l)
l

{2, 3, 4, 5, 'Sudh', 'lalit', 'sudh'}

In [164]:
#set doesn't for for indexing
l[0]

TypeError: 'set' object is not subscriptable

In [ ]:
for i in l:
    print(i)
    #will give result unordered

In [165]:
l.add("raja")

In [168]:
l

{2, 3, 4, 5, 'Sudh', 'lalit', 'raja', 'sudh'}

In [169]:
#can't add list data to set
l.add[3,5,7]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [172]:
m=[1,2,3,[4,5,7]]

m = set(m)

In [175]:
#canverting set also don't work in nested list case
m = set(m)
m

TypeError: unhashable type: 'list'

In [176]:
l.remove("sudh")

In [177]:
l

{2, 3, 4, 5, 'Sudh', 'lalit', 'raja'}

In [178]:
m=["w","q",7,89,10]

In [180]:
m=set(m)

m

{10, 7, 89, 'q', 'w'}

In [183]:
#addition/multiplication not allowed in sets
l+m

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [184]:
m*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [203]:
l1=list(l)
l1

[2, 3, 4, 5, 'raja', 'Sudh', 'lalit']

In [204]:
l1.append(3)

In [205]:
l1

[2, 3, 4, 5, 'raja', 'Sudh', 'lalit', 3]

In [206]:
set(l1)

{2, 3, 4, 5, 'Sudh', 'lalit', 'raja'}

In [209]:
x={"name": "lal","class":5,"name":"sanjay"}

In [214]:
#latest value gets update in dict.
x["name"]

'sanjay'

In [216]:
#% thgese don' work in dict
x1={"name": "lal","class":5,"name":"sanjay",%age = 23}

SyntaxError: invalid syntax (4111122388.py, line 2)

In [227]:
x1={"name": "lal","class":5,"name":"sanjay","classes":[3,4,5,6]}

In [228]:
type(x1)

dict

In [231]:
x1["classes"][3]

6

In [233]:
x2={"name":{"k1":"veer","k4":[345,534]}}

In [235]:
x2["name"]["k4"][0]

345

In [237]:
#dict don't add
x1+x2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [240]:
#dict is also mutable
x2["name"]["k4"]= "raju"

In [241]:
x2

{'name': {'k1': 'veer', 'k4': 'raju'}}

In [263]:
x2["name"]["k4"]= 200

In [274]:
# x2["name"]["k4"]-=10
# or
x2["name"]["k4"]=  x2["name"]["k4"]-10

In [292]:
x2

{'name': {'k1': 'veer', 'k4': 160}}

In [293]:
x2.keys()

dict_keys(['name'])

In [294]:
"k4" in x2.values()

False

In [295]:
#to check k4 as key in the dixct or bnot
def find_key(d, key):
    if key in d:
        return True
    for value in d.values():
        if isinstance(value, dict):  # If value is a dictionary, search recursively
            if find_key(value, key):
                return True
    return False

In [296]:
find_key(x2,"k4")

True

In [297]:
# iterate only over keys
for i in x2 :
    print(i)

name

In [298]:
#to iterate over values
for i in x2.keys():
    print(x2[i])

{'k1': 'veer', 'k4': 160}

In [299]:
x2 = {"name":{"k1":"wer","k4":[345,534,62]},
     "age":348,
     True: {45,54,454},
     "key": False,
     34554:(45,45,45,45),
     "_sfs":[35,45,454]}

In [300]:
x2.keys()

dict_keys(['name', 'age', True, 'key', 34554, '_sfs'])

In [303]:
#iterate over values
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [305]:
#all will come under tuples
x2.items()

dict_items([('name', {'k1': 'wer', 'k4': [345, 534, 62]}), ('age', 348), (True, {54, 45, 454}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfs', [35, 45, 454])])

In [308]:
  # in this keys finding
    for i in x2.items():
        print(i[0])

name
age
True
key
34554
_sfs

In [309]:
#in this case value finding
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534, 62]}
348
{54, 45, 454}
False
(45, 45, 45, 45)
[35, 45, 454]

In [311]:
len(x2)

6

In [312]:
x2

{'name': {'k1': 'wer', 'k4': [345, 534, 62]},
 'age': 348,
 True: {45, 54, 454},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfs': [35, 45, 454]}

In [313]:
x2['age']

348

In [314]:
a1=input()

my name is sanjay

In [315]:
a1

'my name is sanjay'

In [316]:
type(a1)

str

In [322]:
dat_lis = a1.split(" ")

In [323]:
dat_lis

['my', 'name', 'is', 'sanjay']

In [345]:
d= {"company":"ineuron","course":"full stack","year":2021}

In [346]:
for i in d.keys():
    print(d[i])

ineuron
full stack
2021

In [347]:
for i in d.keys():
    print("print a key :",i,";","valuewise",","
          ,d[i])

print a key : company ; valuewise , ineuron
print a key : course ; valuewise , full stack
print a key : year ; valuewise , 2021

In [352]:
for i in d:
    if i=="year":
        if d[i] > 2021:
            print(d[i])
        else:
            d[i]=2022

In [353]:
d

{'company': 'ineuron', 'course': 'full stack', 'year': 2022}

In [354]:
#to assighn keys value twice
d={}
for i in range(10):
    d[i]= i*i

In [355]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [357]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}