In [2]:
import math

In [3]:
math.sqrt(4)

2.0

In [5]:
#or,
from math import sqrt

In [6]:
sqrt(4)

2.0

In [7]:
#best
from math import *

In [8]:
sin(2)

0.9092974268256817

In [13]:
pwd()

'C:\\Users\\lalit'

In [1]:
#after creating file manually in cwd and jupiter lalit.py as text file -- creating modules
import lalit

this is my firstvere mod

In [3]:
#again can't reload drectly
import lalit

In [5]:
# by this way can reload
import imp
imp.reload(lalit)

this is my firstvere mod

In [1]:
#will create another module addition directly  in kupyter home first
import addition

In [2]:
addition.addition1(4,5)

9

In [4]:
#after creating test6 file-module
import test6

In [5]:
test6.msg1()

'this is my class'

In [6]:
#to import single function from module
from test6 import msg1

In [7]:
msg1()

'this is my class'

In [8]:
#folder under folder then create text files(.py) and jupyter file with py files (ye inner folder me hi banega)
#phir iske baad sabse wale k andar bhi ek aur jupyter file banegi  to call modukle jupyter file .

In [1]:
#PRACTICE TEST FILE FOLDER.

In [9]:
#EXCEPTIONAL; HANDLING. onbly of runn time error

In [10]:
F=open("TEST.txt","r")

FileNotFoundError: [Errno 2] No such file or directory: 'TEST.txt'

In [8]:
try:
    F=open("TEST.txt","r")
except:pass

In [2]:
    try:
        a=5/0
    except:
        
        print("an rror occ")

an rror occ

In [1]:
#IOError  io walo k case mein natural error dega
try :
    a=5/0
except IOError:
    print("reeor occured")

ZeroDivisionError: division by zero

In [12]:
#isme io ki wajah se nahi tha isliye our error came
try :
    a=open("test.txt","r")
except IOError:
    print("reeor occured")

reeor occured

In [2]:
try :
    a=5/0
except ArithmeticError:
    print("reeor occured")

reeor occured

In [6]:
#both except statement and below that print statement  used for errors., but  except kisi type k error ko ignore karne k liye use hota hai
try:
    a=5/4
except ArithmeticError as e:
    print("some error",e)
else:
    print("ok")

ok

In [8]:
try:
    a=5/4
except ArithmeticError as e:
    print("some error",e)
else:
    print("ok")
  
    f=open("test.txt","r")

ok

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [9]:
try:
    a=5/4
except ArithmeticError as e:
    print("some error",e)
else:
    print("ok")
    try:
        
        
  
        f=open("test.txt","r")
    except:
        print("file openeing error h")

ok
file openeing error h

In [11]:


try:
    a=int(input("put value for a"))
    b=int(input("put value for b"))
    c=a/b
except ArithmeticError as e:
    print("some error",e)
else:
    print("ok")
    try:
        
        
  
        f=open("test.txt","r")
    except:
        print("file openeing error h")

put value for a1
put value for b0
some error division by zero

In [12]:
l=[4,5,6,7,8]
l[1000]
t=(1,2,3,4)
print(t)

IndexError: list index out of range

In [15]:
l=[4,5,6,7,8]
try:
    
    
    l[1000]
except:
    print("error hai")
    
t=(1,2,3,4)
print(t)

error hai
(1, 2, 3, 4)

In [16]:
l=[4,5,6,7,8]
try:
    
    
    l[1000]
except:
    pass
    
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [18]:
t[2]

3

In [22]:
t=(4,5,6,7)

In [23]:
list[t]4

list[4, 5, 6, 7]

In [25]:
#oops/scripting
# class measn classification of real life entity.
#objects are the variables of class.
class car:
    pass

In [27]:
#ye object bna audi
audi= car()

In [28]:
audi.mileage= 23
audi.year =2022

In [29]:
audi.mileage

23

In [30]:
nano= car()

In [31]:
nano.mileage= 34
nano.year =2024

In [37]:
#to avaoid muliple writing
#self is a pointer, it can be anything
class car:
    def __init__(self,mileage,year):
    
        self.mileage= mileage
        self.year =year

In [38]:
audi= car(32,2023)

In [39]:
audi.mileage

32

In [41]:
class car:
    def __init__(self,m,y):
        
        self.mileage =m
        self.year =y

In [42]:
audi= car(44,2021)

In [43]:
audi.m

AttributeError: 'car' object has no attribute 'm'

In [44]:
audi.mileage

44

In [7]:
#niche self .year liya kyki a sirf pointer tha.,
#cuurent year ko fill karna padega function use k time
class car:
    def __init__(a,m,y):
        
        
        a.mileage =m
        a.year =y
        
    def age(self,current_year):
        return(current_year-self.year)
    def mileagefind(self):
        print("my mileage has ",self.mileage)

In [8]:
nano1 =car(12,2020)

In [9]:
nano1.mileage

12

In [10]:
#2024 c.yr input h
nano1.age(2024)

4

In [11]:
nano1.mileagefind()

my mileage has  12

In [18]:
#when want to using comment for object use __str__, using pointer in __str__ is also important even not using it.
class car:
    def __init__(a,m,y):
        
        
        a.mileage =m
        a.year =y
        
    def age(self,current_year):
        return(current_year-self.year)
    def mileagefind(self):
        print("my mileage has ",self.mileage)
        
    def __str__(c):
        return("this is my car")

In [19]:
nano=car(22,2023)

In [20]:
#used __str__ to call remarks for object
print(nano)

this is my car

In [20]:
class students:
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno= rollno
        self.joining_date =joining_date
        self.current_topic =current_topic
        
    def crt_topic(self):
            print("curret topic is",self.current_topic)
    
    def str_rollno(self):
        
        
        if type(self.rollno)==str:
            print("donothing")
        
        else:
            return str(self.rollno)
        
    def duration(self,current_yr):
        print("duration of joining is ", current_yr- self.joining_date)
        
        
    def __str__(self):
        
        return("this is comments")
    
    def name_par(self):
        if type(i) ==list:
            
            
            for i in self.name: 
                
                print("name of student is",i)
            else :
                print("name is not of list type")

In [21]:
srini=students("srini",123,2012,"oops")

In [22]:
srini.duration(2024)

duration of joining is  12

In [23]:
srini.str_rollno()

'123'

In [24]:
print(srini )

this is comments

In [26]:
srini.name

'srini'

In [42]:
#  _potested,   __private
class test:
    def __init__(self,a,b,c,d):
        self._a=a
        self.b=b
        self.c=c
        self.d=d
        
    def test_custome(self,v):
        return v-self._a
    
    def __str__(self):
        return ("this is my test code for abstraction")

In [43]:
o= test(4,5,6,7)

In [44]:
o.test_custome(7)

3

In [45]:
print(o)

this is my test code for abstraction

In [41]:
o._a

4

In [55]:
#  _potested,   __private
class test:
    def __init__(self,a,b,c,d):
        self.__a=a
        self.b=b
        self.c=c
        self.d=d
        
    def test_custome(self,v):
        return v-self.__a
    
    
    def __str__(self):
        return ("this is my test code for abstraction")

In [58]:
o=test(4,5,6,7)

In [59]:
o.test_custome(7)

3

In [60]:
#beacause a is private now, it work within class only
o.__a

AttributeError: 'test' object has no attribute '__a'

In [62]:
#private calling with class only
o._test__a

4

In [68]:
#inheritence case
class test1(test):
    def __init__(self,j,*args):
        super(test1,self).__init__(*args)
        self.j=j

In [69]:
m=test1(4,5,6,7,8)

In [74]:
m._test__a

5

In [75]:
m.j

4

In [76]:
m.test_custome(8)

3

In [78]:

#craete a class test and test1
#inherit test and test1  into test2
#function a in test
#function a in test1
#test2  should inherit  function a from test and test1 both.

In [81]:
# .format k baad wala o aur 1 decide karta hai
class ineuron:
    company_website ="wwww."
    name= 'ineuron'
    
    
    
    def contact_details(self):
        print("contact us at", self.company_website)
        
    
class datascience(ineuron):
    def __init__(self):
        self.year_of_establoshment = 2018
    
    def est_details(self):
        print('{0} company was established in{1}'. format(self.name ,self.year_of_establoshment))
        
ds= datascience()
ds.est_details()

ineuron company was established in2018

In [92]:
#isme inuron class upar se use kiya hai
class os:
    multi_task = True
    os_name = "windows k"
    
class windows(os,ineuron):
    def __init__(self):
        if self.multi_task is True:
            print("multi_task")
        print("name : {}" .format(self.name))
        
w=windows()
#or windows= windows()

multi_task
name : ineuron

In [94]:
#now using name also (os pehle tha toh name os se dhundha)
class os:
    multi_task = True
    os_name = "windows k"
    name= "sudh"
    
class windows(os,ineuron):
    def __init__(self):
        if self.multi_task is True:
            print("multi_task")
        print("name : {}" .format(self.name))
        
w=windows()
#or windows= windows()

multi_task
name : sudh

In [96]:
#ab os baad m h toh name ineuron se dhundega, kyuki name dono jgaah h
class os:
    multi_task = True
    os_name = "windows k"
    name= "sudh"
    
class windows(ineuron,os):
    def __init__(self):
        if self.multi_task is True:
            print("multi_task")
        print("name : {}" .format(self.name))
        
w=windows()
#or windows= windows()

multi_task
name : ineuron

In [7]:
#fromat mein pointer init wala k  wajah se use hua hai
class ineuron:
    num_of_courses = 12
    
class datascience(ineuron):
    course_type ="impdata science"

    
class ai(datascience):
    def __init__(self):
        self.company = "raja"
        print("the company {0} offers total {1} course" . format(self.company,self.num_of_courses))
        
d= ai()

the company raja offers total 12 course

In [8]:
class ineuron:
    num_of_courses = 12
    
class datascience(ineuron):
    course_type ="impdata science"

    
class ai(datascience):
    
    company = "raja"
    print("the company {0} offers total {1} course" . format(company,num_of_courses))
        
d= ai()

NameError: name 'num_of_courses' is not defined

In [9]:
class ineuron:
    num_of_courses = 12  # Class variable

class datascience(ineuron):
    course_type = "impdata science"  # Class variable

class ai(datascience):
    company = "raja"  # Class variable
    
    def __init__(self):
        # Now accessing the class variables inside the constructor format works only init
        print("The company {0} offers total {1} courses".format(self.company, self.num_of_courses))

# Create an instance of the ai class
d = ai()

The company raja offers total 12 courses

In [13]:
class ineuron:
    num_of_courses = 12  # Class variable

class datascience(ineuron):
    course_type = "impdata science"  # Class variable

class ai(datascience):
    company = "raja"  # Class variable
    

# Create an instance of the ai class
d = ai()
print(d.company)
print(d.num_of_courses)

raja
12

In [14]:
class ineuron:
    num_of_courses = 12  # Class variable

class datascience(ineuron):
    course_type = "impdata science"  # Class variable

class ai(datascience):
    company = "raja"  # Class variable
    



print(ai.company)
print(ai.num_of_courses)

raja
12

In [15]:
#encaptulation

In [39]:
class test :
    def __init__(self,a,b,c):
        self.a=a
        self.b =b
        self.c= c
    
    def __str__(self):
        return "this is the return of class"
    
    
class test1  :
    
    def __init__(self,a,b,c) :
        self.a =a
        self.b =b
        self.c =c
        
    def __str__(self):
        return "this is the reurn of class1"
    
class test2:
    def __init__(self,a,b,c) :
        self.a =a
        self.b =b
        self.c =c
        
    def __str__(self):
        return "this is the reurn of class2"

    
    
class final:
    
        
        
    def  __init__(self,x,y,z) :
        
        
            
        self.x =x
        self.y =y
        self.z =z
        
    def __str__(self):
        
        return  str(self.x)+" -" +str(self.y)+"- "+str(self.z)

In [40]:
t= test(4,5,6)
t1 =test1(3,4,5)
t2 =test2(5,6,7)
f= final(t,t1,t2)

In [41]:
print(f)

this is the return of class -this is the reurn of class1- this is the reurn of class2